*, *::after, *::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(210, 233, 254);
}

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.controller {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}
.player-input {
    width: 300px;
    display: flex;    
}

#player1, #player2 {
    height: 40px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.143);
    padding: 5px;
}

#new-game {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.599);
    border-radius: 5px;
    border: none;
    height: 30px;
    background-color: rgb(53, 127, 255);
    font-size: 20px;
    color: white;
}
#new-game:hover {
    cursor: pointer;
    transform: scaleY(1.1);
    transform: scaleX(1.1);
    background-color: rgb(36, 116, 254);
}
.cell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
